body {
   
    
    
 
    
    color: #f4f4f4;
 
    ul li a {
        color: #f4f4f4;
        
    }
    header  {
        
        background-color: #640fc5;
  
        .first {
            background-color: #0e6cff;
        }
        .second {
            background-color: #ff8700;
        }
        .third {
            background-color: #4caf50;
        }
    }
        
    
}